/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color:#fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color:#fff;
  background-color: #07b6c9;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #545e67;
}
body {
  color: #fff;
  text-align: center;

}

.logo {
  height:50%;
  width:50%;
  padding:5px;
}
.container {
  margin-top:2em;
}

.img-thumbnail {
  margin:2.5%;
}
